.book-list{
    display: contents;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
    margin-left: 0.2rem;
    height: 100%;
    list-style-type: none;
    list-style-position: inside;
    padding: 0.5rem;
}   

.book-list .book-preview {
    border-radius: 8px;
    margin-bottom: 0.2rem;
    padding: 0.5rem;
    background-color: var(--clr1bg-light);
    display: flex;
    flex-direction: row;
    height: 100%;
    list-style-type: none;
    justify-content: space-between;
}



.book-list .book-preview .book-title-authors {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
}

.book-list .book-preview .book-title-authors h3{
    margin: 0;
    font-size: 2rem;
    color: var(--gray3);
    font-weight: 600;
}

.book-list .book-preview .book-title-authors h4{
    margin: 0;
    justify-self: end;
    align-self:flex-end;
    font-size: 1rem;
    margin-left: 2rem;
    color: var(--clr1);
}

.book-list .book-preview img{
    height: 60px;
    margin-right: 1rem;
}

.book-list .book-preview h4{
    margin: 0;
    font-size: 1rem;
    color: var(--gray3);
    font-weight: 400;
}

.book-list .book-preview .book-entry {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.book-list .book-preview .book-actions{
    display: flex;
    align-content: center;
}

.book-list .book-preview .book-actions button {
    background-color: var(--clr1);
    min-height: 3rem;
    color: var(--gray1);
}

.book-list .book-preview .book-actions button:hover {
    background-color: var(--gray1);
    color: var(--clr1);
}

.book-list .book-preview .book-actions button .delete-img{
    align-self: center;
    justify-self: center;
    filter: invert(99%) sepia(3%) saturate(140%) hue-rotate(65deg) brightness(114%) contrast(88%);
    width: 1rem;
    height: 1rem;

}

.book-list .book-preview .book-actions button:hover .delete-img{
    filter: invert(41%) sepia(8%) saturate(751%) hue-rotate(57deg) brightness(94%) contrast(85%);
}

