.book-details {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-template-rows: 200px 100px 1fr;
    grid-template-areas: "book-img book-info"
                         "book-img book-price"
                         "book-description book-description";
    align-items: center;
    height: 100%;
    padding: 0.5rem;
}

.book-details .book-img {
    grid-area: book-img;
    position: relative;
}

.ribbon {
    width: 60px;
    font-size: 14px;
    padding: 4px;
    position: absolute;
    right: -10px;
    top: -12px;
    text-align: center;
    border-radius: 25px;
    transform: rotate(20deg);
}

.ribbon.new {
    background-color: #ff9800;
    color: var(--gray1);
}

.ribbon.old {
    width: 80px;
    background-color: burlywood;
      color: var(--gray3);
}

.book-details .book-img img {
    
    width: 97%;
    object-fit: cover;
    align-self: center;
    justify-self: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.book-details .book-info {
    grid-area: book-info;
    padding: 1rem;
    margin: 0.5rem;
    border-radius: 8px;
    background-color: var(--clr1bg-light);
}

.book-details .book-info h2 {
    margin: 0;
    font-size: 2rem;
    color: var(--gray3);
    font-weight: bolder;
    text-transform: uppercase;
    text-decoration: underline;
}

.book-details .book-price {
    grid-area: book-price;
    padding: 1rem;
    background-color: var(--clr1bg-light);
    margin: 0.5rem;
    border-radius: 8px;
}

.book-details .book-price h3 {
    margin: 0;
    font-size: 1.2rem;
}

.book-details .book-price .on-sale {
    font-weight: bold;
    background-color: gold;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.book-details .book-price .discount {
    text-decoration: line-through;
    font-weight: bold;
    color: red;
    padding: 0.2rem 0.4rem;
    border-radius: 4px;
}

.book-details .book-price .expensive {
    color: red;
    font-weight: bold;
}

.book-details .book-price .cheap {
    color: green;
    font-weight: bold;
}

.book-details .book-description {
    grid-area: book-description;
    padding: 1rem;
    background-color: var(--clr1bg-light);
    border-radius: 8px;

}

.book-details .book-description .book-categories {
    display: flex;
    flex-direction: row;
    justify-content:  start;
    align-items: center;
    gap: 1rem;
    margin-top: 1rem;
}

.book-details .book-description .book-categories .book-category {
    background-color: var(--gray3);
    color: var(--gray1);
    padding: 0.5rem;
    border-radius: 4px;
    font-size: 1rem;
}